
@{

}

    <form method="post">


        <label for="name">Cheese Name</label>
        <input type="text" name="name" />

        <label for="description">Cheese Description</label>
        <input type="text" name="description" />

        <input type="submit" value="Add Cheese" />

        @if (ViewBag.error != null)
        {
            <p><label>@ViewBag.error</label></p>
        }
    </form>

