
@{
}
    <form method="post">    
        <select class="form-control" id="name" name="names">
            @foreach (KeyValuePair<string, Cheese> cheese in ViewBag.Cheeses)
            {
                <option value="@cheese.Value.Name">@("Cheese Name - " + cheese.Value.Name + " Cheese Description - " + cheese.Value.Description) </option>
            }
        </select>
        <input type="submit" value="Delete Cheese" />
</form>