
@{

}

    <form method="post">
        @foreach (KeyValuePair<string, Cheese> cheese in ViewBag.Cheeses)
        {
            <input type="checkbox" name="names" value="@cheese.Value.Name" />@("Cheese Name - " + cheese.Value.Name + " Cheese Description - " + cheese.Value.Description) <br />
        }

        <input type="submit" value="Delete Cheese" />
    </form>


