
@{
}
    <form method="post">    
        <select class="form-control" id="name" name="names">
            @foreach (KeyValuePair<string, string> cheese in ViewBag.Cheeses)
            {
                <option value="@cheese.Key">@("Cheese Name - " + cheese.Key + " Cheese Description - " + cheese.Value) </option>
            }
        </select>
        <input type="submit" value="Delete Cheese" />
</form>